<div>
  <h2 class="energizer-cards"> Energizadores</h2>
</div>

<%= render "products/product" %>


<div data-controller="carousel">
  <div class="carousel-container">
    <button class="carousel-button prev" data-action="click->carousel#prev">❮</button>

    <div class="carousel-wrapper" data-carousel-target="wrapper">
      <% @products.in_groups_of(4, false).each do |group| %>
        <div class="carousel-slide">
          <div class="card-group">
            <% group.each do |product| %>
              <div class="card">
                <% if product.photos.attached? && product.photos.first.present? %>
                  <%= image_tag product.photos.first.variant(resize_to_fill: [300, 300]), alt: product.name, class: "card-image" %>
                <% else %>
                  <%= image_tag 'band saw.jpg', alt: 'Band Saw', class: "card-image" %>
                <% end %>
                <!--img src="<%= product.photos.first %>" alt="<%= product.name %>"-->
                <h3><%= product.name %></h3>
                <p>$<%= product.price %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <button class="carousel-button next" data-action="click->carousel#next">❯</button>
  </div>
</div>




<!--div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo-web-transparent-white.kxa1.png" %>
    <% end %>

    <div id="nav-search">
      <div id="nav-bar-left"></div>
      <form id="nav-search-bar-form" accept-charset="utf-8" action="/s/ref=nb_sb_noss" class="nav-searchbar nav-progressive-attribute" method="GET" name="site-search" role="search">

        <div class="nav-left">
          <div id="nav-search-dropdown-card">

            <div class="nav-search-scope nav-sprite">
              <div class="nav-search-facade" data-value="search-alias=aps">
                <span id="nav-search-label-id" class="nav-search-label nav-progressive-content">All</span>
                <i class="nav-icon"></i>
              </div>
              <label id="searchDropdownDescription" for="searchDropdownBox" class="nav-progressive-attribute" style="display:none">Select the department you want to search in</label>
              <select aria-describedby="searchDropdownDescription" class="nav-search-dropdown searchSelect nav-progressive-attrubute nav-progressive-search-dropdown" data-nav-digest="IAj1KjcYdLFHsVH3og0N4Ntv62U=" data-nav-selected="0" id="searchDropdownBox" name="url" style="display: block;" tabindex="0" title="Search in">
                <option selected="selected" value="search-alias=aps">All Departments</option>
                <option value="search-alias=alexa-skills">Alexa Skills</option>
                <option value="search-alias=vehicles">Amazon Autos</option>
                <option value="search-alias=amazon-devices">Amazon Devices</option>
                <option value="search-alias=amazon-global-store">Amazon Global Store</option>
                <option value="search-alias=amazon-one-medical">Amazon One Medical</option>
                <option value="search-alias=amazon-pharmacy">Amazon Pharmacy</option>
                <option value="search-alias=warehouse-deals">Amazon Resale</option>
                <option value="search-alias=appliances">Appliances</option>
                <option value="search-alias=mobile-apps">Apps &amp; Games</option>
                <option value="search-alias=arts-crafts">Arts, Crafts &amp; Sewing</option>
                <option value="search-alias=audible">Audible Books &amp; Originals</option>
              </select>
            </div>

          </div>
        </div>
        <div class="nav-fill">
          <div class="nav-search-field ">
            <div class="ac-input-container">
              <div class="ac-live-field" id="ac-liveField" role="status" aria-atomic="true" aria-live="polite"></div>
              <div class="ac-input-overlay" aria-hidden="true">
                <span class="ac-ghost" id="ac-predictive-text">
                  <span class="ac-current-input" id="ac-prefix"></span><span class="ac-ghost-suggestion" id="ac-prediction"></span>
                </span>
              </div>
              <label for="twotabsearchtextbox" style="display: none;">Search Amazon</label>
              <input type="text" id="twotabsearchtextbox" value="my amazon orders placed" name="field-keywords" autocomplete="off" placeholder="Search Amazon" class="nav-input nav-progressive-attribute" dir="auto" tabindex="0" aria-label="Search Amazon" role="searchbox" aria-autocomplete="list" aria-controls="sac-autocomplete-results-container" aria-expanded="false" aria-haspopup="grid" spellcheck="false">
            </div>
          </div>
          <div id="nav-iss-attach"></div>
        </div>
        <div class="nav-right">
          <div class="nav-search-submit nav-sprite">
            <span id="nav-search-submit-text" class="nav-search-submit-text nav-sprite nav-progressive-attribute" aria-label="Go">
              <input id="nav-search-submit-button" type="submit" class="nav-input nav-progressive-attribute" value="Go" tabindex="0">
            </span>
          </div>
        </div>
      </form>
    </div>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
              <%# link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
