
<!--div class="card-container">
  <% @products.each do |product| %>
    <div class="card">
      <% if product.photos.attached? && product.photos.first.present? %>
        <%= image_tag product.photos.first.variant(resize_to_fill: [300, 300]), alt: product.name, class: "card-image" %>
      <% else %>
        <%= image_tag 'band saw.jpg', alt: 'Band Saw', class: "card-image" %>
      <% end %>
      <div class="card-body">
        <p><%= link_to product.description, product_path(product), class: "card-description" %></p>
        <div class="card-price">
          <%= number_to_currency product.price %>
          <span></span>
        </div>
      </div>
      <div>
        <div class="card-stock">Em stoque: <%= product.stock.presence || "0" %></div>
        <div class="card-button">
          <%= link_to 'Buy Now', product_path(product), class: 'btn' %>
        </div>
      </div>
    </div>
  <% end %>
</div>-->



                            <!-- Banner --->
<%= render 'banner' %>


                            <!-- Product cards-->

<%= render "product" %>


                          <!-- footer -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
